fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-dotenv
passlib[bcrypt]
pydantic
fastapi-mail
pytest
pytest-asyncio
Faker
APScheduler
python-jose[cryptography]
jwt
python-multipart
httpx
redis
Boolean
bcrypt==4.0.1